{{define "index"}}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="public/css/bootstrap.css ">
</head>

<body>
    <div id="wrap">
          <div class="container">
            <div class="page-header">
                <h1>DM2517 ServerMonitor</h1>
            </div>
       
    <div id ="ip-input">
        <form method="post" action="newip">
            IP: <br>
            <input type="text" name="ip">
            <button type="submit">Start Monitoring</button>            
        </form>
    </div>
    </div>
    </div>
</body>

</html>
{{end}}
